body {
    background-color: rgb(46, 45, 45);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
a{
    text-decoration: none;
}

header {
    color: white;
    font-size: 50px;
}

ul {
    color: white;
    font-size: 20px;
    border: 2px solid gray;
    padding: 10px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    height: 2rem;
}

ul li {
    list-style-type: none;
}

ul ul{
    display: none; 
}

ul li:hover ul {
    display: block;
    line-height: 30px;
}

.search {
    border: 2px solid gray;
    padding: 10px;
    background: rgb(46, 45, 45);
    width: 97%;
    color: white;
}

#box {
    display: flex;
    flex-direction: Wrap;
    gap: 1rem;
    color: white;
    padding: 30px;
    justify-content: center;
    margin-top: 10px;
    height: 50px;
    

}

.box1 {
    font-size: 20px;
    background-color: rgb(4, 138, 40);
    color: white;
    border-radius: 20px;
}

.box2 {
    font-size: 20px;
    background-color: rgb(191, 188, 14);
    color: white;
    border-radius: 20px;
}

.box3 {
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 20px;
}

.box4 {
    font-size: 20px;
    background-color: rgb(53, 183, 235);
    color: white;
    border-radius: 20px;
}

#button {
    display: flex;
    flex-flow: wrap row;
    gap: 1rem;
    color: white;
    padding: 30px;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    height: 70px;
    
}

.box {
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 15px;
}

h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: justify;
}

h3 {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card-container {
    box-shadow: 0 8px 16px 0 rgba(220, 9, 9, 0.348);
}

.card img {
    width: 250px;
    height: 20%;
    border: 4px solid rgb(176, 176, 10);

}

.card .btn {
    display: grid;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 20px;
    background: red;
    width: 80%;
    margin-left: 20px;
}

p {
    color: white;
    text-align: center;
}

#ftr {
    text-align: center;
    gap: 2rem;
}

a {
    color: white;
    column-gap: 2rem;
}